
body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: arial,tahoma, sans-serif;
	font-size: 13px;
	line-height: 1.5em; 
	background: #FFF;
	background: #5dc0f8 url('/images/bg.jpg') no-repeat no-repeat 50% 0%;
	background-attachment: fixed;

}
/*
a, a:link, a:visited { color: #FFFFFF; text-decoration: none; }
a:hover { text-decoration: underline;color:#FFFF00;font-weight:bold; }
*/
p { margin: 0px; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #1313F7; }
h1 { font-size: 40px; font-weight: normal; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 28px; font-weight: normal; margin: 0 0 30px 0; padding: 0; }
h2 span { font-weight: bold; }
h3 { font-size: 21px; margin: 0 0 15px 0; padding: 0; padding: 0;font-weight: normal;color:White; }
h4 { font-size: 18px; margin: 0 0 15px 0; padding: 0; }
h5 { font-size: 14px; margin: 0 0 10px 0; padding: 0; color: #FFFFFF;}
h6 { font-size: 14px; margin: 0 0 5px 0; padding: 0; text-align: center;}

.tmo_list { margin: 20px 0 20px 20px; padding: 0; list-style: none; }
.tmo_list li { background: url(/images/templatemo_list.png) no-repeat scroll 0 0px; margin:0 0 20px; padding: 0 0 0 20px; 	line-height: 0.8em; }
.tmo_list li a { color: #CCFF99; }
.tmo_list li a:hover { color: #F8FDF9; }
.selects
{
    padding:2px;border: 1px solid #009999;background-color:#FB01F2;color:#FFFFFF;font-weight:lighter;
    }
.project_detail
{
   
   background: #088FDB url(./images/commentList-title.jpg) repeat-y 0 0;
     border: 1px solid #FFFFCC;
    color: #FFFFFF;
    padding: 3px 3px 3px 30px;
    }
.like_fm
{
    width: 20px;
    background: url(/images/like_fm.gif) no-repeat;
}
.btn {
margin: 1px;
padding: 1px 5px;
border: 1px solid #FFFFFF;
border-radius: 10px;
background-color: #0066FF; /*background-color: #0066FF;*/
background-color: #0099FF;
text-decoration: none;
cursor:pointer;
color:#FFFFFF;
}
.menu_btn {
margin: 1px;
padding: 1px 1px;
border: 1px solid #FFFFFF;
border-radius: 1px;
background-color: Blue;
text-decoration: none;
cursor:pointer;
color:#FFFFFF;
}
.menu_btn:hover {
	background-color:#EDFC06;
	text-decoration: none;
	color:Blue;
}

.btn:hover {
	background-color:#F10505;
	text-decoration: none;
}
.btn:active {
	position:relative;
	top:1px;
}

.link_back {
margin: 0px;
padding: 0px 10px 3px 10px;
border-radius: 10px;
background-color: #0066FF;
text-decoration: none;
color:#CC00CC;
border:1px solid #C5DEF8;
}


.link_back a
{
color: #0099FF; text-decoration: none;font-weight:bold;     
}
.link_back a:hover {
color:#F10505;
text-decoration:underline;
}
   
.admin {
margin: 0px;
padding: 3px 10px 3px 10px;
border-radius: 10px;

/*background: url(/images/bg_admin.png) repeat-x;*/
text-decoration: none;
color:#FFFFFF;
}

.img_border 
{
display: block;
padding: 5px 5px 5px 5px;
box-shadow: 5px 5px 5px #666;
-moz-box-shadow: 5px 5px 5px #666;
-webkit-box-shadow: 5px 5px 5px #666;
border-radius: 8px;
border:1px solid #CCC;
}

.btn_project_main {
margin: 1px;
padding: 5px 5px;
margin:15px 8px 20px 8px;
box-shadow: 5px 5px 5px #666;
-moz-box-shadow: 5px 5px 5px #666;
-webkit-box-shadow: 5px 5px 5px #666;
border-radius: 15px;
background:#F0F0F0 url(/images/bg_head_main1.gif) repeat-x ;
text-decoration: none;
color:#000; /*B0B0B0*/
width:915px;
}

.btn_project_main:hover {
    background: url(/images/bg_white.png) repeat;
	text-decoration: none;
	
	color:#1589FF;
}
.btn_project_main:active {
	position:relative;
	top:1px;
}

.header_main_project
{
     color:#306EFF ;
     font-size:14px;
     font-weight:bold;
     height:30px;
    }
.header_main_project:hover {

    
    /*background: url(/images/bg_white.png) repeat;*/
    }
.adjust_text_header
{
    text-align:center;font-weight:bold;
    }
    
.btn_project {
margin: 1px;
padding: 0px 0px;
margin-top:5px;
margin-bottom:10px;
border-radius: 5px;
background: url(/images/head_project.png) repeat-x;
background-color: #0066FF;
text-decoration: none;
color:#FFFFFF;
}

.btn_project_head {
margin: 1px;
padding: 5px 5px;
margin-top:0px;
margin-bottom:10px;
border: 1px solid #FFFFFF;
border-radius: 5px;
background-color: #0099FF;
text-decoration: none;
color:#FFFFFF;
}
.btn_forum {
margin: 1px;
padding: 1px 1px;
margin-top:0px;
margin-bottom:7px;
border: 1px solid #FFFFFF;
border-radius: 5px;
background-color: #FFFFFF;
text-decoration: none;
color:#FFFFFF;
}
.btn_img 
{
margin: 1px;
margin-bottom:5px;
padding: 1px 5px ;
border: 1px solid #CCC;
border-radius: 10px;
background-color: #FFF;
text-decoration: none;
color:#000;
width:208px;
height:290px;
border-bottom:3px solid #CCC;
border-right:2px solid #CCC;
}
.btn_img:hover {
	background-color:#F8F8F8;
	text-decoration: none;
	color:#B0B0B0;
}
.btn_img:active {
	position:relative;
	top:1px;
}
.btn_admin1 {
margin: 1px;
padding: 5px 10px 5px 10px;
border: 1px solid #FFFFFF;
border-radius: 8px;
/*background-color: #29D606;*/

background: url(/images/bg_legend.gif) repeat-x;
text-decoration: none;
cursor:pointer;
color:#FFFFFF;
font-weight:bold;
}
.btn_admin1:hover 
{
    background: url(/images/blue.png) repeat-x;
    border: 1px solid #FFFFFF;
	color:#FFFFFF;
	font-weight:lighter;
	font-weight:bold;
	text-decoration: none;
}
.btn_admin {
margin: 1px;
padding: 4px 10px 4px 10px;
border-radius: 8px;
background: url(/images/post_news.gif) repeat-x;
border: 1px solid #FFFFFF;
text-decoration: none;
cursor:pointer;
color:#FFFFFF;
font-weight:bold;
}
.btn_admin:hover {
    border: 1px solid #FFFFFF;
    
    background: url(/images/blue.png) repeat-x;
	color:#FFFFFF;
	font-weight:lighter;
	font-weight:bold;
	text-decoration: none;
}
.btn_admin:active {
	position:relative;
	top:1px;
}
.bottom_ses {

padding: 1px 1px;
margin-top:0px;
margin-left:3px;
margin-right:5px;
margin-bottom:5px;
width:920px;
border: 1px solid #FFFFFF;
border-radius: 5px;
background: #088FDB;

text-decoration: none;
color:#FFFFFF;
}
.bottom_ses a
{
    color:#FFFFFF;
    }
.select_gridview
{
border: 1px solid #FFFFFF;
border-radius: 6px;
background-color: #CCCCCC;
text-decoration: none;
cursor:pointer;
color:#000000;
font-size: 14px;
padding: 3px;
}
.select_gridview:hover {
	background-color:#EFFDF8;
	text-decoration: none;
}
.select_gridview:active {
	position:relative;
	top:1px;
}
.like_text
{
    width: 20px;
    font-weight: bold;
    background: #0099FF;
    color: #FFFFFF;
    font-size: 12px;
}
.textformat
{
    color:#FFFFFF;
    font-size: 12px;
}
.btn_more a {
	display: block;
	width: 82px;
	height: 27px;
	color: #666;
	padding: 3px 0 0 0;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    background: url(/images/templatemo_button.png) no-repeat;
}

.btn_admin_default {
margin: 0px;
padding: 4px 6px 4px 6px;
border-radius: 0px;
background:#AFEEEE;
/*background: url(/images/post_news.gif) repeat-x;*/
border: 1px solid #FFFFFF;
text-decoration: none;
border-radius: 5px;
cursor:pointer;
color:#0099FF;
font-size:10px;
font-weight:bold;
}
.btn_admin_default:hover {
    border: 1px solid #FFFFFF;
    background: url(/images/blue.png) repeat-x;
	color:#FFFFFF;
	font-weight:lighter;
	font-weight:bold;
	text-decoration: none;
}
   .btn_admin_default a
   {
       color:#0066FF;; text-decoration: underline; font-weight: bold;
   }
.link_main a{color: #FFFFFF; text-decoration: none; font-weight: bold;    }
.link_main a:hover { text-decoration: underline;color:#00FF00;font-weight:bold; }

.txtformat_area {
     padding: 2px;
     border: 1px solid #0099FF;
     background: url(/images/grid_medblue.gif) repeat;
     line-height: 130%;
     font-size: 13px;
    margin-left: 2px;
    overflow:hidden;
}

.btnformat 
{
	color:#003300;
	height:25px;
	width:100px;
	padding: 0 0 0 0;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    cursor:pointer;
    }
  .post_news
  {
      background: url(/images/post_news.gif) repeat;
       color:#FFF;
       	padding: 2px 2px 2px 2px;
	    font-size: 13px;
	    text-align: left;
	    font-weight: bold;
	    text-decoration: none;
   }
     .new_post
  {
        text-align: center;
        background: url(/images/main_header.png) repeat;
        color:#000000;
       	padding: 10px 10px 10px 10px;
	    font-size: 13px;
	    font-weight: bold;
	    text-decoration: none;
	    border:2px solid #FFFFFF;
   }
        .new_post_details
  {
        background: url(/images/post_news1.gif) repeat;
        /*background: url(/images/grid_medblue.gif) repeat;
        background:#CCFFFF;*/
        color:#000000;
       	padding: 0px 0px 0px 0px;
	    font-size: 12px;
	    text-align: center;
	    text-decoration: none;
	    border:1px solid #FFFFFF;
   }
        .new_post_details_4rum
  {
        /*background: url(/images/grid_medblue.gif) repeat;
        background: url(/images/grid_medblue.gif) repeat;
        background:#CCFFFF;*/
        background:#04A1FB;
        color:#FFFFFF;
       	padding: 0px 0px 0px 0px;
	    font-size: 12px;
	    text-align: center;
	    text-decoration: none;
	    border:2px solid #0033FF;
   }
   
    .new_post_details_4rum a
  {
        color: #FFFFFF; text-decoration: none;font-weight:bold;
   }
.new_post_details_4rum a:hover { text-decoration: underline;color:#CCFF00;font-weight:bold; }
   
   .comment_format
   {
        color:#000000;
        font-size: 12px;
        background:url(/images/comment_bg_main.gif) repeat;
        padding: 0px 5px 5px 5px;
         WIDTH: 895px;

        
   }
   .comment_format_header
   {
        background:url(/images/comment_bg_header.gif) no-repeat;
        padding: 0px 5px 5px 0px;
         WIDTH: 900px;
 
   }
      .comment_format_footer
   {
        background:url(/images/comment_bg_footer.gif) no-repeat;
        padding: 0px 5px 5px 0px;
         WIDTH: 900px;

        
   }
 .new_post_details a
  {
        color: #0099FF; text-decoration: none;font-weight:bold;
   }
.new_post_details a:hover { text-decoration: underline;color:#FF00FF;font-weight:bold; }
   
   .link_format a
   {
       color: #FFFF66; text-decoration: none; font-weight: bold;
       
       }
.link_format a:hover { text-decoration: underline;color:#00FF00;font-weight:bold; }


   .link_format1 a
   {
       color: #4AA02C; text-decoration: underline;
       
       }
.link_format1 a:hover { text-decoration: underline;color:#FF0000 ; }

.post_news_desc
  {
       background: url(/images/post_news1.gif) repeat;
       color:#000033;
       	padding: 3px 3px 3px 20px;
	    font-size: 10px;
	    text-align: left;
	    text-decoration: none;
	    
   }

.txtformat {
	background-image:url('/images/form_bg.jpg');
	background-repeat:repeat-x;
	border:1px solid #E3E0EA;
	color:#333333;
	font-size: 14px;
	padding:0px;
	margin-right:4px;
	margin-bottom:8px;
	font-family: arial,tahoma, sans-serif;
}
.txtformat_small {
BORDER-RIGHT: #ffba14 1px solid; 
PADDING-RIGHT: 4px; 
BORDER-TOP: #ffba14 1px solid; 
PADDING-LEFT: 4px; 
FONT-SIZE: 6pt; 
PADDING-BOTTOM: 1px; 
BORDER-LEFT: #ffba14 1px solid; 
COLOR: #000080; 
PADDING-TOP: 1px; 
BORDER-BOTTOM: #ffba14 1px solid; 
font-family: arial,tahoma, sans-serif;
BACKGROUND-COLOR: #ffffff";
}
.btn_more a:hover {
	color: #333;
	text-decoration: none;
    background:	url(/images/templatemo_button_hover.png) no-repeat;
}
#templatemo_wrapper_outer {
	width: 100%;
	margin: 0 auto;
}
#templatemo_wrapper {
	width: 933px;
	padding: 0px 1px;
	margin: 0 auto;
	
}
#templatemo_header_main {
	width: 100%;
	height: 92px;
	margin: 0 auto;
	margin-top: 0px;
}
#templatemo_header {
	width: 935px;
	height: 120px;
	padding: 0 0px;
	margin: 0 auto;
	margin-top: 0px;
	background: url(/images/banner.png) no-repeat top right;
}
#templatemo_header_flash {
 Z-INDEX: 1;
 POSITION: absolute; 
 WIDTH: 500px; 
 HEIGHT: 400px;
 margin-top: 50px;
 margin-left: 250px;
 margin-right: 0px;
 margin-bottom: 0px;
}
#templatemo_headers_flash {
 Z-INDEX: 1;
 POSITION: absolute;
 WIDTH: 500px;
 HEIGHT: 50px;
 margin-top: 0px;
 margin-left: 150px;
 margin-right: 0px;
 margin-bottom: 0px;
}
#templatemo_header  #site_title {
	float: left;
	padding-top: 0px;
}
#templatemo_header  #site_title h1 {
	margin: 0;
	padding: 0;
}
#templatemo_header  #site_title a {
	margin: 0px;
	padding: 0px;
	font-size: 40px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}
#templatemo_header  #site_title a span {
	display: block;
	font-size: 14px;
	color: #fff;
	font-weight: normal;
	margin-left: 5px;
}
/* menu */
#templatemo_menu {
	float: left;
	width: 935px;
	display: inline-block;
	margin-top: 58px;
	margin-right: 0px;
	height:28px;
	background: url(/images/ui-bg_menu.png) center repeat-x;


}
#templatemo_menu ul {
	padding: 0px;
	margin: -5px 0px 0px 3px;
	list-style: none;
	float: left;
	clear: left;
}
#templatemo_login 
{
    display:block; 
    float: right;
	width: 450px;
	height: 58px;
	margin-right:8px;
	margin-top:2px;
	border:1px solid #8296F9;
	border-radius: 8px;
	/*background-color:#0099FF;*/
	/*background: url(/images/login_bg.gif) center no-repeat;*/
}


#templatemo_menu ul li {
	float: left;
	display: inline; 
	/*margin: 10 10px;*/
	margin-top:6px;
	margin-left:-5px;
	margin-right:5px;
	background: url(/images/blue_bg.png) no-repeat top right;


}

#templatemo_menu ul li a {
	text-decoration: none;
	float:left;
	color: #FFFFFF;
	cursor: pointer;
	font: 700 14px/24px "Arial", Helvetica, sans-serif;
}

#templatemo_menu ul li a span {
	margin: 0px 10px 0 -10px;
	padding: 1px 10px 5px 18px;
	position: relative; 
	float:left;
}
/*BLUE*/
#templatemo_menu ul.blue li a.current,#templatemo_menu ul.blue li a:hover {
	/*background: url(/images/blue.png) no-repeat top right;*/
	background-color:#FFFFFF;
	
 	color: #000;
	display: inline; 
    border-radius: 5px;
}
/*
#templatemo_menu ul.blue li a.current span,#templatemo_menu ul.blue li a:hover span {
	background: url(/images/blue.png) no-repeat top right;
	margin-top:2px;
	margin-left:5px;
	color:#FFF;
	
}
*/
#templatemo_slider {
	width: 860px;
	height: 255px;
	padding: 20px 40px;
	margin-bottom: 0px;
	margin-top: 0px;
	background: url(/images/templatemo_sp_box.png) no-repeat;

}

#search_section
{
    display:block;
    float:right;
    margin-top:1px;
    margin-bottom:0px;
    margin-left:0px;
    border-right:0px;
    margin-right:0px;
    border:1px solid #0696FC;border-radius: 15px;background-color:#FFF;
    
}

#templatemo_content {
	clear: both;
	width: 933px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 0px;
	background: url(/images/templatemo_footer.png) center repeat-y;


}

#templatemo_content p {
	margin-bottom: 10px;
}
.summary-templatemo_content fieldset{padding-bottom:0px;margin-top:0px;} 
legend.no-expand-all
{
    padding:0px 0px 0px 0px;
    margin:0 0 0 0px;
    } 
legend
{
       padding:0px 0px 0px 0px;
       margin:0px 0 0px 0px;
       margin-top:0px;
       font-size:x-small;
       color: White;
       font-weight: bold;
       background: url(/images/bg_legend.gif) center repeat;
       } 
       
fieldset {
    _position : relative;  /* The underscore means only IE will see it */
    _padding-top : 20px;   /* Stupid IE */
    _padding-bottom : 15px;
    _display : block;
    border : 1px solid #FFFFFF;
    
   background-color:#68B4F7;
    /*background: url(/images/templatemo_footer.png) center repeat-y;*/
    margin-bottom : 15px;
    color:Black;
}
.header
{
       padding:2px 3px 2px 3px;
       margin:4px 0 5px 5px;
       margin-top:0px; 
       color: White;
       font-weight: bold;
       background: url(/images/bg_legend.gif) center repeat;
       } 

.btn_link
{
       padding:2px 10px 2px 10px;
       margin:4px 4px 4px 4px;
       margin-top:0px; 
       border-top:1px solid #EDEDED;
       border-left:1px solid #EDEDED;
       border-right:1px solid #969696; 
       border-bottom:1px solid #969696;
       background:RED;
}
.upload
{
       padding:2px 10px 2px 10px;
    
    }
.col_w300 {
	float: left;
	width: 280px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_w600 {
	float: left;
	width: 600px;
	padding-right: 20px;
	margin-right: 20px;
}

.col_w280 {
	width: 280px;
}

.col_w220 {
	float: left;
	width: 200px;
	padding-right: 20px;
	margin-right: 20px;
	
}
.col_last {
	margin-right: 0;
}

.sb_news_box {
	margin-bottom: 20px;
}

.sb_news_box img {
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 15px;
	/*border: 2px solid #fff;*/
}
.sb_news_box h6 a { font-size: 14px; color: #333; }

.news_box {
	clear: both;
	margin-bottom: 30px;
	padding-bottom: 30px;
	/*border-bottom: 1px dashed #fff;*/
}

.news_box h2 {
	color: #183544;
	margin-bottom: 10px;
}

.news_box .news_meta {
	margin-bottom: 10px;
}

.news_box img {
	float: left;
	width: 220px;
	height: 180px;
	margin-right: 30px;
	border: 1px solid #fff;
	padding: 4px;
}

.news_box_last {
	margin: 0;
	padding: 0;
	border: none;
}

.service_box {
	clear: both;
	margin-bottom: 50px;
}

.service_box img {
	float: left;
	width: 48px;
	height: 48px;
}

.service_box .sb_right {
	float: right;
	width: 520px;
}

#contact_form {
	padding: 0;
}

#contact_form form {
	margin: 0px;
	padding: 0px;
}

#contact_form form .input_field {
	width: 270px;
	padding: 5px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-size: 12px;
	font-family: arial,tahoma, sans-serif;
}

#contact_form form label {
	display: block;
	width: 100px;
	margin-right: 10px;
	font-size: 13px;	
}

#contact_form form textarea {
	width: 266px;
	height: 140px;
	padding: 5px;
	background: #fff;
	border: 1px solid #dfdfdf;
	font-size: 12px;
	font-family: arial,tahoma, sans-serif;
}
#contact_form .submit_btn {
	padding: 5px 14px;
	background: #fff;
	border: 1px solid #dfdfdf;
}

/* footer */

#templatemo_footer_wrapper {
	
	width: 100%;
	/*background: url(images/templatemo_wrapper_bottom.jpg) bottom repeat-x;*/
}

#templatemo_footer {
	width: 923px;
	padding: 0 5px 1px;
	margin: 0 auto;
	color: #000;
	background: url(/images/templatemo_footer.png) center repeat-y;
	/*border: 1px solid #2B60DE;*/
}

#templatemo_footer .tmo_list {
	margin-left: 0px;
}

#templatemo_footer .tmo_list li a {
	color: #FFFFFF;
}

#footer_top 
{
    margin-top:0px;
    margin-bottom:0px;
	width: 940px;
	height: 7px;
	margin: 0 auto;
	background: url(/images/templatemo_footer_top.png) left no-repeat;
}
#footer_top1 {
	width: 940px;
	height: 2px;
	margin-top:0px;

}
/* social */

#templatemo_footer  #social_box {
	clear: both;
	margin: 20px 0;
	padding: 0;
	list-style: none;
}

#social_box li {
	display: block;
	float: left;
	padding: 0;
	margin: 0;
}

#social_box li a {
	width: 24px;
	height: 24px;
	margin: 0 5px 5px 0;
	text-decoration: none;
	border: none;
}

/* end of social */

/* copyright */

#templatemo_copyright {
	clear: both;
	width: 925px;
	padding: 5px;
	margin: 0 auto;
	text-align: center;
	color: #ccc;
	background: #0a273a;
	/*border-top: 1px solid #fff;*/
}

#templatemo_copyright a {
	color: #fff;
}

/* end of copyright */
/* end of footer */